<!-- IF S_USER_LOGGED_IN -->
<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dd>{L_US_USER_IP}</dd>
					<dd>{L_US_USER_REGDATE}</dd>
					<dd>{L_US_USER_ID}</dd>
					<dd>{L_US_USER_POSTS}</dd>
					<dd>{L_US_USER_TOPICS}</dd>
					<dd>{L_US_USER_RTITLE}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			<li class="row bg1">
				<dl class="icon">
					<dd>{US_IP}</dd>
					<dd>{US_REGDATE}</dd>
					<dd>{US_ID}</dd>
					<dd>{US_POSTS}</dd>
					<dd>{US_TOPICS}</dd>
					<dd>{US_RTITLE}</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
<!-- ENDIF -->
