<!-- IF S_USER_LOGGED_IN -->
<div class="forumbg forumbg-table">
	<div class="inner">
		<table class="table1 responsive">
			<thead>
				<tr>
					<th>{L_US_USER_IP}</th>
					<th>{L_US_USER_REGDATE}</th>
					<th>{L_US_USER_ID}</th>
					<th>{L_US_USER_POSTS}</a>
					<th>{L_US_USER_TOPICS}</th>
					<th>{L_US_USER_RTITLE}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="bg1" style="text-align: center">
					<td>{US_IP}</td>
					<td>{US_REGDATE}</td>
					<td>{US_ID}</td>
					<td>{US_POSTS}</td>
					<td>{US_TOPICS}</td>
					<td>{US_RTITLE}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- ENDIF -->
